.nav {
  padding: 25px 50px;
  position: sticky;
  width: 100%;
  margin: auto;
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
}
.nav-optn {
  display: flex;
  font-size: 15px;
}
.nav-optn ol {
  display: flex;
  counter-reset: item;
}

.nav-optn ol li::before {
  content: "0" counter(item) ".";
  text-align: right;
  color: var(--txt);
  font-size: 12px;
}
.nav-optn ol li p{
    padding:0 10px ;
    color: rgb(181, 182, 184);
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;

}
.nav-optn ol li p:hover{
color: var(--txt);
}
.nav-optn ol li {
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: item;
  list-style-type: none;
  color: var(--txt);
}
.polygon {
  width: 40px;
  height: 40px;
}
.polygon svg {
  color: var(--txt);
}
.resume:hover{
  background-color: rgba(105, 255, 100, 0.07);
}
.resume{
    text-align: center;
    color: var(--txt);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 5px;
    outline: solid 1px var(--txt);
}